/.idea/
.DS_Store

#project files
/0x04-loops_conditions_and_parsing/apache-access.log
/0x0B-ssh/school
/0x0B-ssh/school.pub
/0x15-api/2.csv
/0x15-api/2.json
/0x15-api/todo_all_employees.json
/0x16-api_advanced/*-main.py
